<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>yumyard</title>
</head>
<body>
    <div class="vishnu">
        <div class="pav">
            <ul>
                <li id="hpic"><img src="https://cdn-icons-png.flaticon.com/512/5228/5228473.png" height="20px" width="20px"></li>
                <li id="mpic"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_4ldmFDuSEVI-qtxbfJv4OtZctkIb4ZHCMg&s" height="25px" width="25px"></li>
                <li id="spic"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnMKoc5DPbXkFiCsITqw3dfOM5mR-rXWzaug&s" height="20px" width="20px"></li>
                <li id="lpic"><img src="https://png.pngtree.com/png-vector/20191003/ourmid/pngtree-user-login-or-authenticate-icon-on-gray-background-flat-icon-ve-png-image_1786166.jpg" height="20px" width="20px"></li>
                <li id="apic"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQnU0pUiRacAEY5SawnMwIAbdqQmHxCt_2IA&s" height="20px" width="20px"></li>
                <li id="cpic"><img src="https://cdn-icons-png.flaticon.com/512/9194/9194840.png" height="20px" width="20px"></li>
				<li id="adminpic"><img src="https://w7.pngwing.com/pngs/429/434/png-transparent-computer-icons-icon-design-business-administration-admin-icon-hand-monochrome-silhouette-thumbnail.png" height="20px" width="20px"></li>
            </ul>
        </div>
        <div class="geet">
            <ul>
                <li id="wel">Welcome to YumYard...!!</li>
                <li id="home"><a href="/" class="homelink">Home</a></li>
                <li id="menu"><a href="/menu" class="menulink">Menu</a></li>
                <li id="sign"><a href="/signup" class="menulink">Sign up</a></li>
                <li id="login"><a href="/login" class="menulink">Login</a></li>
                <li id="about"><a href="/about" class="aboutlink">About</a></li>
                <li id="con"><a href="/contact" class="aboutlink">Contact us</a></li>
				<li id="adm"><a href="/admin" class="menulink">Admin</a></li>
            </ul>
        </div>
    </div>
    <p id="a"><i>YumYard</i></p>
    <p id="b">a smooth dining experience.....</p>
</body>
</html>